.nav-bar{
    //background-color: var(--nav-blue) !important;

.navbar-brand{
    font-weight: bold;
    
}

.dropdown-toggle, dropdown-item{
    cursor: pointer;
}

.nav-item{
    cursor: pointer;
}

.white-text{
    color: white;
}
}